body {
  margin: 0;
  /* font-family: "Lucida Console", Monaco, monospace; */
  font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
  color: #3a3838;
  background: #f2f2f2;
  font-size: 120%;
}

.section {
  margin: 30px;
  padding-top: 10px;
  padding-bottom: 100px;
  margin-bottom: 100px;
  /* border:2px; */
}

.vis {
  float:left;
  width:70%;
  overflow:hidden;
}

.description {
  float:left;
  width:30%;
  overflow:hidden;
}

/* tabs */
.category {
  overflow: hidden;
  background-color: #333;
}

.category a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.category a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: red;
  color: white;
}


/* content */
.mainpage {
  display: flex;
  flex-direction: column;
  space-between: ;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px;
  min-height: calc(100vh - 45px);
}

.play-button {
  /* position: absolute; */
  top: 200px;
  left: 50px;
  background: #f08080;
  padding-right: 26px;
  border-radius: 3px;
  border: none;
  color: white;
  margin: 0;
  padding: 0 12px;
  width: 60px;
  cursor: pointer;
  height: 30px;
}

.play-button:hover {
  background-color: #696969;
}

.magic-button {
  /* position: absolute; */
  display: block;
  margin: 0 auto;
  background: #f08080;
  padding-right: 26px;
  border-radius: 3px;
  border: none;
  color: white;
  padding: 0 12px;
  cursor: pointer;
  width: auto;
  height: 50px;
  font-size: 30px;
}

.magic-button:hover {
  background-color: #696969;
}

.ticks {
  font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #dcdcdc;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}
.state{
    fill: #e3e3e3;
    stroke: #333;
    stroke-width: 0.5;
}

#slider{
    width:50%
}
#tickmarks{
    stroke:#333
}
/* .county:hover{
fill:orange;
} */
.county{
    fill: #e3e3e3;
    stroke: #333;
    stroke-width: 0.5
}

#mobility-vis {
  margin: auto;
  width: 50%;
  /*height: 100%;*/
}
#data-source-q {
  color: blue;
}
#source-tag {
  font-size: 10px;
  color: gray;
}

#restaurants-vis-container {
  overflow: auto;
}

#restaurants-vis {
  /*width: 900px;*/
  float: left;
}

#state-vis {
  /*width: 360px;*/
  float: left;
}

/*manually defining each div height*/
#introduction {
  margin: 100px;
  padding-top: 10px;
  padding-bottom: 100px;
  height: 600px;
}
#mobility {
  height: 850px;
}
#world-schools {
  height: 700px;
}
#us-schools {
  height: 700px;
}
#restaurants {
  height: 800px;
}
#flightVolumeContainer {
  height: 700px;
}
#traffic-collisions {
  height: 600px;
}
